<div class="container-custom">
    <div class="row">

        <div class="col-md-8">

            <img id="imgrouts" src="/images/death-valley-4250244.jpg">

        </div>

        <div class="col-md-4">
            <h1 style="font-weight: 100">Nueva Ruta</h1>

            <form action="/itinerarios/new" method="POST">

                <div class="form-group">
                    <label for="name-input">Nombre de la ruta</label>
                    <input name="name" type="text" class="form-control" id="name-input">
                </div>



                <div class="form-group">
                    <label for="difficulty">Dificultad</label>
                    <select name="difficulty" class="form-control" id="difficulty">

                        <option>Seleccionar</option>

                        {{#each difficulty}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}

                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Tipo de Terreno</label>
                    <select name="description" class="form-control" id="description">

                        <option>Seleccionar</option>

                        {{#each description}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}

                    </select>
                </div>


                <div class="form-group">
                    <label for="distance-input">Distancia</label>
                    <input name="distance" type="number" class="form-control" id="distance-input">
                </div>

                <div class="form-group">
                    {{!-- TODO --}}
                    <label for="location-input">Cordenadas Iniciales-Longitud inicial</label>
                    <input name="longitude1" type="number" step="any" class="form-control" id="location-input">
                </div>
                <div class="form-group">
                    {{!-- TODO --}}
                    <label for="location-input">Cordenadas Iniciales-Latitud inicial</label>
                    <input name="latitude1" type="number" step="any" class="form-control" id="location-input">
                </div>

                <div class="form-group">
                    {{!-- TODO --}}
                    <label for="location-input">Cordenadas Finales-Longitud final</label>
                    <input name="longitude2" type="number" step="any" class="form-control" id="location-input">
                </div>
                <div class="form-group">
                    {{!-- TODO --}}
                    <label for="location-input">Cordenadas Finales-Latitud final</label>
                    <input name="latitude2" type="number" step="any" class="form-control" id="location-input">
                </div>



                {{!-- <div class="form-group">
                    <label for="imageURL-input">Imagen</label>
                    <input name="imageURL" type="text" class="form-control" id="imageURL-input">
                </div> --}}

                <button type="submit" class="btn btn-dark">Crear nueva ruta</button>
                <a href="/itinerarios/list" class="btn btn-dark">Listado de rutas</a>
                <a href="/" class="btn btn-dark">Volver</a>

            </form>
        </div>

    </div>
</div>