<div class="background-inicio">

<div class="elemIndex">
     <a href="/motorbikes/list" class="btn btn-dark">MOTOS</a>
</div>

<div class="elemIndex">
   <a href="/profile" class="btn btn-dark">GARAJE</a>
</div>

<div class="elemIndex">
    <a href="/itinerarios/list" class="btn btn-dark">RUTAS</a>
</div>



</div>


