<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>

   <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'>
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <link rel="icon" href="../images/pngtree-racing-helmet-icon-simple-style-png-image_1911229.jpg" type="image/x-icon">
</head>

<body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">inicio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            <li class="nav-item">
               <a class="nav-link" href="/profile">Garaje</a>
            </li>
            {{#unless isLogged}}
            <li class="nav-item">
               <a class="nav-link" href="/auth/registro">Signup</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/auth/iniciar-sesion">Login</a>
            </li>
            {{else}}
            <li class="nav-item">
               <a class="nav-link" href="/auth/cerrar-sesion">Logout</a>
            </li>
            {{/unless}}
            <li class="nav-item">
               <a class="nav-link" href="/motorbikes/new">Motos</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/itinerarios/new">Rutas</a>
            </li>
            {{#if isAdmin}}
            <li class="nav-item">
               <a class="nav-link" href="/admin/list">ADMIN</a>
            </li>
            {{/if}}
         </ul>
      </div>
   </nav>


   <main> {{{body}}}

   </main>


   <script src="/js/script.js"></script>
</body>

</html>